.leftSide {
  margin-left: 50px;
  margin-top: 100px;
  float: left;
}

.rightSide {
  margin-right: 20%;
  float: right;
  margin-top: 100px;
}

.inputButton {
  display: inline-block;
}

.box {
  position: relative;
}

.inputButton1 {
  bottom: 1;
  left: 0;
  margin-top: 20px;
}

.inputButton2 {
  bottom: 1;
  right: 0;
  margin-top: 20px;
  margin-left: 71%;
}
